<h2><%= @movie.title %></h2>
<h3><%= @movie.director %></h3>
<h4>Category: <%= @movie.category.name %></h4>
<p><%= @movie.description %></p>

<%= link_to 'Back', root_path %>

<% if user_signed_in? %>

<% if @movie.user_id == current_user.id %>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), method: :delete,
                                          data: { confirm: "Confirm Deletion?" } %>

<% end %>
<% end %>
