
  <div class="row">

    <div class="col-md-4">

<%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show"  %>

    </div>

    <div class="col-md-8">
      <h2><%= @movie.title %></h2>
      <h3><%= @movie.director %></h3>
      <p><%= @movie.description %></p>
    </div>

</div>

<div class="row">

  <div class="col-md-4">

    <!-- Where reviews go. -->

  </div>

</div>

<%= link_to 'Back', root_path %>

<% if user_signed_in? %>

<% if @movie.user_id == current_user.id %>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), method: :delete,
                                          data: { confirm: "Confirm Deletion?" } %>

<% end %>
<% end %>
