
  <div class="row">

    <div class="col-md-4">

<%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show"  %>

    </div>

    <div class="col-md-8">
      <h2><%= @movie.title %></h2>
      <h3><%= @movie.director %></h3>
      <h2>Average Rating</h2>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span>Based on <%= @movie.reviews.count %></span>
      <p><%= @movie.description %></p>
    </div>

</div>

<div class="row">

  <div class="col-md-4">

    <!-- Where reviews go. -->

    <%= render @movie.reviews %>

    <div>
      <%= link_to "Add Review", new_movie_review_path(@movie) %>

    </div>

  </div>

</div>

<%= link_to 'Back', root_path %>

<% if user_signed_in? %>

<% if @movie.user_id == current_user.id %>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), method: :delete,
                                          data: { confirm: "Confirm Deletion?" } %>

<% end %>
<% end %>


<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
  </script>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
